# Sarah Thomas
# Project 3 - Cars4U Project

__Description__ (copied from assignment)

__Background & Context__

There is a huge demand for used cars in the Indian Market today. As sales of new cars have slowed down in the recent past, the pre-owned car market has continued to grow over the past years and is larger than the new car market now. Cars4U is a budding tech start-up that aims to find footholes in this market.

In 2018-19, while new car sales were recorded at 3.6 million units, around 4 million second-hand cars were bought and sold. There is a slowdown in new car sales and that could mean that the demand is shifting towards the pre-owned market. In fact, some car sellers replace their old cars with pre-owned cars instead of buying new ones. Unlike new cars, where price and supply are fairly deterministic and managed by OEMs (Original Equipment Manufacturer / except for dealership level discounts which come into play only in the last stage of the customer journey), used cars are very different beasts with huge uncertainty in both pricing and supply. Keeping this in mind, the pricing scheme of these used cars becomes important in order to grow in the market.

As a senior data scientist at Cars4U, you have to come up with a pricing model that can effectively predict the price of used cars and can help the business in devising profitable strategies using differential pricing. For example, if the business knows the market price, it will never sell anything below it. 

__Objective__

1. Explore and visualize the dataset.
2. Build a linear regression model to predict the prices of used cars.
3. Generate a set of insights and recommendations that will help the business.


__Data Dictionary__

1. S.No. : Serial Number
2. Name : Name of the car which includes Brand name and Model name
3. Location : The location in which the car is being sold or is available for purchase Cities
4. Year : Manufacturing year of the car
5. Kilometers_driven : The total kilometers driven in the car by the previous owner(s) in KM.
6. Fuel_Type : The type of fuel used by the car. (Petrol, Diesel, Electric, CNG, LPG)
7. Transmission : The type of transmission used by the car. (Automatic / Manual)
8. Owner : Type of ownership
9. Mileage : The standard mileage offered by the car company in kmpl or km/kg
10. Engine : The displacement volume of the engine in CC.
11. Power : The maximum power of the engine in bhp.
12. Seats : The number of seats in the car.
13. New_Price : The price of a new car of the same model in INR Lakhs.(1 Lakh = 100, 000)
14. Price : The price of the used car in INR Lakhs (1 Lakh = 100, 000)

# 1 - Load Packages and Read in the Dataset

In [1]:
# Import necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings

warnings.filterwarnings("ignore")

# To enable plotting graphs in Jupyter notebook
%matplotlib inline

# To build linear regression_model
from sklearn.linear_model import LinearRegression

# To check model performance
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# to make Python code more structured
%load_ext nb_black

In [2]:
# Load the data into pandas dataframe
cars = pd.read_csv("used_cars_data.csv")

# 2 - Data Preprocessing

## 2.1 - Check the first and last 10 rows of the dataset as well as random 10 rows

In [3]:
# first 10 rows
cars.head(10)

,S.No.,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
5,5,Hyundai EON LPG Era Plus Option,Hyderabad,2012,75000,LPG,Manual,First,21.1 km/kg,814 CC,55.2 bhp,5.0,NaN,2.35
6,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50
7,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,Automatic,First,11.36 kmpl,2755 CC,171.5 bhp,8.0,21 Lakh,17.50
8,8,Volkswagen Vento Diesel Comfortline,Pune,2013,64430,Diesel,Manual,First,20.54 kmpl,1598 CC,103.6 bhp,5.0,NaN,5.20
9,9,Tata Indica Vista Quadrajet LS,Chennai,2012,65932,Diesel,Manual,Second,22.3 kmpl,1248 CC,74 bhp,5.0,NaN,1.95

In [4]:
# last 10 rows
cars.tail(10)

,S.No.,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
7243,7243,Renault Duster 85PS Diesel RxL,Chennai,2015,70000,Diesel,Manual,First,19.87 kmpl,1461 CC,83.8 bhp,5.0,NaN,NaN
7244,7244,Chevrolet Aveo 1.4 LS,Pune,2009,45463,Petrol,Manual,First,14.49 kmpl,1399 CC,92.7 bhp,5.0,NaN,NaN
7245,7245,Honda Amaze S i-Vtech,Kochi,2015,44776,Petrol,Manual,First,18.0 kmpl,1198 CC,86.7 bhp,5.0,NaN,NaN
7246,7246,Hyundai Grand i10 AT Asta,Coimbatore,2016,18242,Petrol,Automatic,First,18.9 kmpl,1197 CC,82 bhp,5.0,NaN,NaN
7247,7247,Hyundai EON D Lite Plus,Coimbatore,2015,21190,Petrol,Manual,First,21.1 kmpl,814 CC,55.2 bhp,5.0,NaN,NaN
7248,7248,Volkswagen Vento Diesel Trendline,Hyderabad,2011,89411,Diesel,Manual,First,20.54 kmpl,1598 CC,103.6 bhp,5.0,NaN,NaN
7249,7249,Volkswagen Polo GT TSI,Mumbai,2015,59000,Petrol,Automatic,First,17.21 kmpl,1197 CC,103.6 bhp,5.0,NaN,NaN
7250,7250,Nissan Micra Diesel XV,Kolkata,2012,28000,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,NaN
7251,7251,Volkswagen Polo GT TSI,Pune,2013,52262,Petrol,Automatic,Third,17.2 kmpl,1197 CC,103.6 bhp,5.0,NaN,NaN
7252,7252,Mercedes-Benz E-Class 2009-2013 E 220 CDI Avan...,Kochi,2014,72443,Diesel,Automatic,First,10.0 kmpl,2148 CC,170 bhp,5.0,NaN,NaN

In [5]:
# random 10 rows
np.random.seed(1)
cars.sample(n=10)

,S.No.,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
2397,2397,Ford EcoSport 1.5 Petrol Trend,Kolkata,2016,21460,Petrol,Manual,First,17.0 kmpl,1497 CC,121.36 bhp,5.0,9.47 Lakh,6.00
3777,3777,Maruti Wagon R VXI 1.2,Kochi,2015,49818,Petrol,Manual,First,21.5 kmpl,1197 CC,81.80 bhp,5.0,5.44 Lakh,4.11
4425,4425,Ford Endeavour 4x2 XLT,Hyderabad,2007,130000,Diesel,Manual,First,13.1 kmpl,2499 CC,141 bhp,7.0,NaN,6.00
3661,3661,Mercedes-Benz E-Class E250 CDI Avantgrade,Coimbatore,2016,39753,Diesel,Automatic,First,13.0 kmpl,2143 CC,201.1 bhp,5.0,NaN,35.28
4514,4514,Hyundai Xcent 1.2 Kappa AT SX Option,Kochi,2016,45560,Petrol,Automatic,First,16.9 kmpl,1197 CC,82 bhp,5.0,NaN,6.34
599,599,Toyota Innova Crysta 2.8 ZX AT,Coimbatore,2019,40674,Diesel,Automatic,First,11.36 kmpl,2755 CC,171.5 bhp,7.0,28.05 Lakh,24.82
186,186,Mercedes-Benz E-Class E250 CDI Avantgrade,Bangalore,2014,37382,Diesel,Automatic,First,13.0 kmpl,2143 CC,201.1 bhp,5.0,NaN,32.00
305,305,Audi A6 2011-2015 2.0 TDI Premium Plus,Kochi,2014,61726,Diesel,Automatic,First,17.68 kmpl,1968 CC,174.33 bhp,5.0,NaN,20.77
4582,4582,Hyundai i20 1.2 Magna,Kolkata,2011,36000,Petrol,Manual,First,18.5 kmpl,1197 CC,80 bhp,5.0,NaN,2.50
5434,5434,Honda WR-V Edge Edition i-VTEC S,Kochi,2019,13913,Petrol,Manual,First,17.5 kmpl,1199 CC,88.7 bhp,5.0,9.36 Lakh,8.20

__Observations:__
* Fuel_Type, Transmission, Seats are all categorical variables. If Owner_Type has any other values besides "First" it could be a categorical variable as well.
* Units need to be removed from Mileage, Engine, Power, and New_Price.

## 2.2 - Check the shape of the data

In [6]:
cars.shape

(7253, 14)

## 2.3 - Check the datatypes and row counts for each column

In [7]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7253 entries, 0 to 7252
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   S.No.              7253 non-null   int64
 1   Name               7253 non-null   object
 2   Location           7253 non-null   object
 3   Year               7253 non-null   int64
 4   Kilometers_Driven  7253 non-null   int64
 5   Fuel_Type          7253 non-null   object
 6   Transmission       7253 non-null   object
 7   Owner_Type         7253 non-null   object
 8   Mileage            7251 non-null   object
 9   Engine             7207 non-null   object
 10  Power              7207 non-null   object
 11  Seats              7200 non-null   float64
 12  New_Price          1006 non-null   object
 13  Price              6019 non-null   float64
dtypes: float64(2), int64(3), object(9)
memory usage: 793.4+ KB

__Observations:__
* The following have null values that need to be dealt with: Mileage, Engine, Power, Seats, New_Price, and Price.
* Confirming from earlier observation that Fuel_Type, Transmission, Owner_Type, and Seats need to be converted to categorical variables.
* Mileage, Power, and New_Price need to be converted to a float once units are removed.
* Engine should be an integer once units are removed.

## 2.4 - Drop Values

In [8]:
# S.No. is an identifier - not really useful for current project
cars.drop(["S.No."], axis=1, inplace=True)

# New Price is missing over 50% of values (advice per Project Forum)
cars.drop(["New_Price"], axis=1, inplace=True)

## 2.4 - Convert variables to categorical: Fuel_Type, Transmission, Owner_Type, Seats

In [9]:
cars["Fuel_Type"] = cars["Fuel_Type"].astype("category")
cars["Transmission"] = cars["Transmission"].astype("category")
cars["Owner_Type"] = cars["Owner_Type"].astype("category")

## 2.5 - Fix Mileage - Remove Units, Convert to Float, Treat Missing Values

In [10]:
# Remove units for Mileage and convert to float - possible units are km/kg and kmpl
for index in cars["Mileage"].index:
    if str(cars["Mileage"][index]).endswith("g"):
        cars["Mileage"][index] = str(cars["Mileage"][index]).replace("km/kg", "")
    elif str(cars["Mileage"][index]).endswith("l"):
        cars["Mileage"][index] = str(cars["Mileage"][index]).replace("kmpl", "")

cars["Mileage"] = cars["Mileage"].astype("float")

In [11]:
# confirming changes to Mileage were successful
cars["Mileage"]

0       26.60
1       19.67
2       18.20
3       20.77
4       15.20
        ...
7248    20.54
7249    17.21
7250    23.08
7251    17.20
7252    10.00
Name: Mileage, Length: 7253, dtype: float64

In [12]:
# Replace missing values with median
cars["Mileage"].fillna(cars["Mileage"].median(), inplace=True)

# Double-check change to Mileage took place
cars["Mileage"].isnull().sum()

0

## 2.6 - Fix Power - Remove Units, Convert to Float, Treat Missing Values

In [13]:
# Remove units for Power - possible units are bhp
for index in cars["Power"].index:
    if str(cars["Power"][index]).endswith("p"):
        cars["Power"][index] = str(cars["Power"][index]).replace("bhp", "")

# Convert nulls and blanks to NaN
for index in cars["Power"].index:
    if "null" in str(cars["Power"][index]):
        cars["Power"][index] = np.nan

In [14]:
# confirming changes to "Power" were successful
cars["Power"]

0       58.16
1       126.2
2        88.7
3       88.76
4       140.8
         ...
7248    103.6
7249    103.6
7250     63.1
7251    103.6
7252      170
Name: Power, Length: 7253, dtype: object

In [15]:
# Checking how many nulls are left
cars["Power"].isnull().sum()

175

In [16]:
# Create a lookup table of unique values for Name, Year, and Power from dataframe
# Trying to figure out Power from other matching cars with same name and year
power_lookup = cars[["Name", "Year", "Power"]].copy()
power_lookup.dropna(inplace=True)
power_lookup = power_lookup.drop_duplicates()

# Retrieve value of Power for cars dataframe based on corresponding
# Name, Year, Power in lookup table
for index in cars[cars["Power"].isnull() == True].index:
    car_name = cars["Name"][index]
    car_year = cars["Year"][index]

    for index2 in power_lookup.index:
        if power_lookup["Name"][index2] == car_name:
            if power_lookup["Year"][index2] == car_year:
                cars["Power"][index] = power_lookup["Power"][index2]

# Figure out how many remaining nulls are there
cars["Power"].isnull().sum()

162

In [17]:
# Fill remaining null values with overall Power median
cars["Power"].fillna(cars["Power"].median(), inplace=True)

# Double-check change to Power took place
cars["Power"].isnull().sum()

0

In [18]:
# Convert Power to float
cars["Power"] = cars["Power"].astype("float")
cars.info()  # confirming change took place

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7253 entries, 0 to 7252
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               7253 non-null   object
 1   Location           7253 non-null   object
 2   Year               7253 non-null   int64
 3   Kilometers_Driven  7253 non-null   int64
 4   Fuel_Type          7253 non-null   category
 5   Transmission       7253 non-null   category
 6   Owner_Type         7253 non-null   category
 7   Mileage            7253 non-null   float64
 8   Engine             7207 non-null   object
 9   Power              7253 non-null   float64
 10  Seats              7200 non-null   float64
 11  Price              6019 non-null   float64
dtypes: category(3), float64(4), int64(2), object(3)
memory usage: 531.9+ KB

## 2.7 - Fix Engine - Remove Units, Convert to Integer, Treat Missing Values

In [19]:
# Remove units for Engine and convert to integer - possible units are CC
for index in cars["Engine"].index:
    if str(cars["Engine"][index]).endswith("C"):
        cars["Engine"][index] = str(cars["Engine"][index]).replace("CC", "")

In [20]:
# Treat missing values
# Fill remaining null values with overall Power median
cars["Engine"].fillna(cars["Engine"].median(), inplace=True)

# Double-check change to Power took place
cars["Engine"].isnull().sum()

0

In [21]:
# Convert Engine to Integer
cars["Engine"] = cars["Engine"].astype("int")
cars.info()  # confirming change took place

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7253 entries, 0 to 7252
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               7253 non-null   object
 1   Location           7253 non-null   object
 2   Year               7253 non-null   int64
 3   Kilometers_Driven  7253 non-null   int64
 4   Fuel_Type          7253 non-null   category
 5   Transmission       7253 non-null   category
 6   Owner_Type         7253 non-null   category
 7   Mileage            7253 non-null   float64
 8   Engine             7253 non-null   int64
 9   Power              7253 non-null   float64
 10  Seats              7200 non-null   float64
 11  Price              6019 non-null   float64
dtypes: category(3), float64(4), int64(3), object(2)
memory usage: 531.9+ KB

## 2.8 - Fix Seats - Treat Missing Values

AttributeError: 'Series' object has no attribute 'info'

In [23]:
# cars["Seats"] = cars["Seats"].astype("category")